# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
.env

# Tests et Couverture
.pytest_cache/
.coverage
htmlcov/

# Mutmut (Mutation Testing)
mutants/
.mutmut-cache
mutmut-stats.json

# IDE
.vscode/
.idea/
.DS_Store